@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  background: #fff4d7;
  color: black;
  font-family: "Inter", "Segoe UI", sans-serif;
}

nav {
  font-size: 2vh;
  text-align: center;
  color: black;
  margin-top: 5pt;
}