@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  background: #fff4d7;
  color: black;
  font-family: "Inter", "Segoe UI", sans-serif;
}

nav {
  font-size: 2vh;
  text-align: center;
  color: black;
  margin-top: 5pt;
}

.site-card {
  transition: 500ms ease-in-out 100ms;
  transition-property: all;
}

.site-card:hover {
  border-radius: 20pc;
  z-index: 200000;
}

.site-card:hover ~ .dim {
  opacity: 0.5;
  display: block;
}



.dim, #dim {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 9999;
  transition: 400ms ease-in;
  transition-property: all;
}